{% extends 'base.html.twig' %}

{% block title %}Les prélèvements
{% endblock %}

{% block body %}

	<main class="container my-5 content">
		<h2 class="text-start mb-4">Les prélèvements effectués</h2>
		<form id="formulaire-filtre" class="mb-4 row row-cols-1 row-cols-md-auto g-3 align-items-center" method="get">
			<div class="col">
				<label for="filtre-ville" class="form-label m-0">Filtrer :</label>
			</div>

			<div class="col">
				<select name="ville" id="filtre-ville" class="form-select">
					<option value="">Sélectionnez une ville</option>
					{% for ville in villes %}
						<option value="{{ ville.libelle }}" {{ app.request.get('ville') == ville.libelle ? 'selected' : '' }}>
							{{ ville.libelle }}
						</option>
					{% endfor %}
				</select>
			</div>

			<div class="col">
				<select name="region" id="filtre-region" class="form-select">
					<option value="">Sélectionnez une région</option>
					{% for region in regions %}
						<option value="{{ region.libelle }}" {{ app.request.get('region') == region.libelle ? 'selected' : '' }}>
							{{ region.libelle }}
						</option>
					{% endfor %}
				</select>
			</div>

			<div class="col">
				<select name="qualite" id="filtre-qualite" class="form-select">
					<option value="">Eau potable ?</option>
					<option value="potable" {{ app.request.get('qualite') == 'potable' ? 'selected' : '' }}>Oui</option>
					<option value="moyennement-potable" {{ app.request.get('qualite') == 'moyennement-potable' ? 'selected' : '' }}>Moyennement</option>
					<option value="non-potable" {{ app.request.get('qualite') == 'non-potable' ? 'selected' : '' }}>Non</option>
				</select>
			</div>

			<div class="col">
				<button type="submit" class="btn btn-primary">Filtrer</button>
			</div>
		</form>

		<div class="row">
			{% for prelevement in prelevements %}
				<div class="col-md-4 prelevement-card">
					<div class="card p-3 mb-3">
						<h5 class="card-title">Emplacement :
							{{ prelevement.emplacement.libelle }}</h5>
						<p class="card-text mt-0 mb-0">Ville :
							{{ prelevement.emplacement.ville.libelle }}</p>
						<p class="card-text mt-0 mb-0">Région :
							{{ prelevement.emplacement.ville.region.libelle }}</p>
						<p class="card-text mt-0 mb-0">Date :
							{{ prelevement.datePrelevement|date('d/m/Y') }}</p>
						<p class="card-text {{ prelevement.qualite }}">Eau :
							{{ prelevement.qualite|replace({'-': ' '}) }}
						</p>

					</div>
				</div>
			{% endfor %}
		</div>

		<div class="d-flex justify-content-center mt-4">
			{{ knp_pagination_render(prelevements) }}
		</div>

		<p id="message-aucun-resultat" class="text-center mt-5 recherche ">
			Aucun résultat ne correspond à votre recherche.
		</p>
	</main>

{% endblock %}
